# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf

[.github/workflows/**.yml]
indent_style = space
indent_size = 2

[check-update.py]
indent_style = space
indent_size = 4
