name: build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - RELEASE_PACKAGE: gitlab-ce
            RELEASE_VERSION: 15.7.0-ce.0
            PUSH_TAGS: 15.7.0-ce.0,15.7-ce,15-ce,ce,latest
          - RELEASE_PACKAGE: gitlab-ee
            RELEASE_VERSION: 15.7.0-ee.0
            PUSH_TAGS: 15.7.0-ee.0,15.7-ee,15-ee,ee

    steps:
      - uses: actions/checkout@v2

      - name: docker login to docker.io
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: docker login to ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Setup binfmt-support
        uses: docker/setup-qemu-action@v2

      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Generate tags
        id: generate-tags
        run: |
          dockerio_tags=$(echo ${{ matrix.PUSH_TAGS }} | tr ',' '\n' | xargs -I {} echo "docker.io/${{ secrets.DOCKERHUB_USERNAME }}/gitlab:{}" | tr '\n' ',')
          ghcr_tags=$(echo ${{ matrix.PUSH_TAGS }} | tr ',' '\n' | xargs -I {} echo "ghcr.io/${{ github.actor }}/gitlab-arm:{}" | tr '\n' ',')
          echo "push_tags=${dockerio_tags},${ghcr_tags}" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ env.push_tags }}
          platforms: linux/arm64
          build-args: |
            RELEASE_PACKAGE=${{ matrix.RELEASE_PACKAGE }}
            RELEASE_VERSION=${{ matrix.RELEASE_VERSION }}
