name: build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - RELEASE_PACKAGE: gitlab-ce
            RELEASE_VERSION: 16.0.1-ce.0
            PUSH_TAGS: 16.0.1-ce.0,16.0.1-ce,16.0-ce,16-ce,ce,latest
          - RELEASE_PACKAGE: gitlab-ee
            RELEASE_VERSION: 16.0.1-ee.0
            PUSH_TAGS: 16.0.1-ee.0,16.0.1-ee,16.0-ee,16-ee,ee

    steps:
      - uses: actions/checkout@v3

      - name: docker login to docker.io
        uses: docker/login-action@v2
        # Only builds on the main branch will trigger the push, and forked repositories are excluded
        if: github.repository_owner == 'zengxs' && github.ref == 'refs/heads/main'
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Must set write access in the package settings
      # See: https://github.com/docker/build-push-action/issues/463#issuecomment-924995909
      - name: docker login to ghcr.io
        uses: docker/login-action@v2
        # Only builds on the main branch will trigger the push, and forked repositories are excluded
        if: github.repository_owner == 'zengxs' && github.ref == 'refs/heads/main'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup binfmt-support
        uses: docker/setup-qemu-action@v2

      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Generate tags
        id: generate-tags
        run: |
          dockerio_tags=$(echo ${{ matrix.PUSH_TAGS }} | tr ',' '\n' | xargs -I {} echo "docker.io/${{ secrets.DOCKERHUB_USERNAME }}/gitlab:{}" | tr '\n' ',')
          ghcr_tags=$(echo ${{ matrix.PUSH_TAGS }} | tr ',' '\n' | xargs -I {} echo "ghcr.io/${{ github.repository_owner }}/gitlab-arm:{}" | tr '\n' ',')
          echo "push_tags=${dockerio_tags},${ghcr_tags}" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          # Only builds on the main branch will trigger the push, and forked repositories are excluded
          push: ${{ github.repository_owner == 'zengxs' && github.ref == 'refs/heads/main' }}
          tags: ${{ env.push_tags }}
          platforms: linux/arm64
          build-args: |
            RELEASE_PACKAGE=${{ matrix.RELEASE_PACKAGE }}
            RELEASE_VERSION=${{ matrix.RELEASE_VERSION }}
